<div local-class="desktop-logo">
  <LinkTo @route="index">
    <img src="/images/a-logo.svg#desktop" alt="logo" local-class="logo {{if this.short "short"}}"/>
  </LinkTo>
</div>
<div local-class="mobile-logo">
  <LinkTo @route="index">
    <img src="/images/a-logo.svg#mobile" alt="logo" local-class="logo"/>
  </LinkTo>
</div>

